
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f7fa;
    color: #333;
}
header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
}
nav {
    background-color: #444;
    color: white;
    padding: 0.5em 0;
    text-align: center;
}
nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0.5em 1em;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 1em 0;
}
#map-section {
    float: left;
    width: 60%;
}
#regions-section {
    float: right;
    width: 35%;
}
#map-section img {
    width: 100%;
    height: auto;
}
.region {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
footer {
    background-color: hsl(0, 0%, 35%);
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
